---
- name: Install Database on EC2 instances
  hosts: database
  become: yes
  vars:
    mariadb_config_file: "/etc/my.cnf.d/mariadb-server.cnf"
  tasks:
    - name: Install MariaDB server (Amazon Linux/RHEL)
      yum:
        name:
          - mariadb105-server
          - python3
          - python3-pip
        state: present

    - name: Install PyMySQL
      pip:
        name: PyMySQL
        state: present

    - name: Enable service mariadb
      ansible.builtin.service:
        name: mariadb
        state: started
        enabled: yes

    - name: Secure MariaDB installation - set root password
      community.mysql.mysql_user:
        name: root
        password: "{{ mariadb_root_password }}"
        host: "%"
        login_unix_socket: /var/lib/mysql/mysql.sock
        state: present
        update_password: on_create

    - name: Create app database
      community.mysql.mysql_db:
        login_user: root
        login_password: "{{ mariadb_root_password}}"
        name: "{{ mariadb_database }}"
        state: present
        login_unix_socket: /var/lib/mysql/mysql.sock

    - name: Create app user
      community.mysql.mysql_user:
        login_user: root
        login_password: "{{ mariadb_root_password}}"
        name: "{{ mariadb_app_username }}"
        password: "{{ mariadb_app_password}}"
        host: "%"
        login_unix_socket: /var/lib/mysql/mysql.sock
        state: present
        priv: "{{ mariadb_database }}.*:ALL"

    - name: Create users table
      community.mysql.mysql_query:
        login_db: "{{ mariadb_database }}"
        login_host: localhost
        login_user: "{{ mariadb_app_username }}"
        login_password: "{{ mariadb_app_password }}"
        query: |
          CREATE TABLE user (
              id INT AUTO_INCREMENT PRIMARY KEY,
              username VARCHAR(64) NOT NULL
          );


    - name: Ensure bind-address is set to 0.0.0.0
      ansible.builtin.lineinfile:
        path: "{{ mariadb_config_file }}"
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'
        insertafter: '^\[mysqld\]'
        backup: yes
      notify: Restart MariaDB

    - name: Ensure skip-name-resolve is enabled
      ansible.builtin.lineinfile:
        path: "{{ mariadb_config_file }}"
        regexp: '^skip-name-resolve'
        line: 'skip-name-resolve'
        insertafter: '^\[mysqld\]'
        backup: yes
      notify: Restart MariaDB

  handlers:
    - name: Restart MariaDB
      ansible.builtin.service:
        name: mariadb
        state: restarted
